DB_HOST=postgres
DB_PORT=5432
DB_USER=cex
DB_PASSWORD=cex
DB_NAME=cex

REDIS_URL=redis://redis:6379
NATS_URL=nats://nats:4222

LOG_LEVEL=info

API_GATEWAY_PORT=3000
ADMIN_SERVICE_PORT=3001
BITGO_INGESTOR_PORT=3002
AUTH_SERVICE_PORT=3003
MATCHING_ENGINE_PORT=3004
LEDGER_SERVICE_PORT=3005
WALLET_ROUTER_PORT=3006
ANIMICA_INDEXER_PORT=3007
RISK_SERVICE_PORT=3008

BITGO_ENV=sandbox
BITGO_ACCESS_TOKEN=
BITGO_WEBHOOK_SECRET=
BITGO_BASE_URL=https://app.bitgo-test.com

ANIMICA_RPC_URL=http://127.0.0.1:8545/rpc
