DB_USER=cex
DB_PASSWORD=cex_password
DB_NAME=cex_exchange
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379
NATS_URL=nats://localhost:4222

API_GATEWAY_PORT=3000
ADMIN_SERVICE_PORT=4000
AUTH_SERVICE_PORT=3005
MATCHING_ENGINE_PORT=3006
LEDGER_SERVICE_PORT=3007
WALLET_ROUTER_PORT=3008
BITGO_INGESTOR_PORT=3002
ANIMICA_INDEXER_PORT=3009
RISK_SERVICE_PORT=3010

BITGO_ENV=test
BITGO_ACCESS_TOKEN=dev-token
BITGO_WEBHOOK_SECRET=dev-webhook-secret
BITGO_BASE_URL=https://app.bitgo-test.com

ANIMICA_RPC_URL=http://localhost:8545
