openapi: 3.1.0
info:
  title: Animica AI API (READ + COMPUTE)
  version: 5.1.2
  description: >
    OpenAI-compatible AI plus verifiable quantum randomness and read-only network
    stats for Animica. Lead capability is AI inference (the ENA open-AI network);
    randomness and chain/pool reads are READ + COMPUTE only. This Action never
    signs transactions, spends or transfers funds, mutates a wallet, or accesses
    private keys.
servers:
  - url: https://pool.animica.org
    description: Animica public API (OpenAI-compatible /v1, beacon, pool stats)
paths:
  /v1/chat/completions:
    post:
      operationId: askAnimicaAI
      summary: Ask the Animica ENA open-AI network (OpenAI-compatible chat completion).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [messages]
              properties:
                model:
                  type: string
                  default: anm-fast-8b
                  description: Model id (e.g. anm-fast-8b, anm-code-7b, anm-pro-70b).
                messages:
                  type: array
                  items:
                    type: object
                    required: [role, content]
                    properties:
                      role:
                        type: string
                        enum: [system, user, assistant]
                      content:
                        type: string
                max_tokens:
                  type: integer
                  default: 1024
                temperature:
                  type: number
                  default: 0.4
      responses:
        "200":
          description: A chat completion.
          content:
            application/json:
              schema:
                type: object
  /v1/models:
    get:
      operationId: listAnimicaModels
      summary: List the AI models available on the Animica network.
      responses:
        "200":
          description: Model list.
          content:
            application/json:
              schema:
                type: object
  /beacon/latest:
    get:
      operationId: getQuantumBeaconLatest
      summary: Latest round of Animica's verifiable quantum randomness beacon.
      responses:
        "200":
          description: The latest beacon round (round id, value, prev, commitment).
          content:
            application/json:
              schema:
                type: object
  /beacon/round/{round_id}:
    get:
      operationId: getQuantumBeaconRound
      summary: Get a specific historical quantum beacon round by id (read-only).
      parameters:
        - name: round_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: The requested beacon round.
          content:
            application/json:
              schema:
                type: object
  /v1/pool/stats:
    get:
      operationId: getPoolStats
      summary: Read-only Animica mining-pool stats (hashrate, blocks, miners).
      responses:
        "200":
          description: Pool stats snapshot.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        Optional. Required only for the /v1 AI endpoints if your Animica org
        enforces API keys; the beacon and pool reads are public.
security:
  - bearerAuth: []
  - {}
