pkgbase = animica
	pkgdesc = Post-quantum L1 blockchain CLI: node, wallet, miner, contracts, useful-work jobs
	pkgver = 9.0.8
	pkgrel = 1
	url = https://animica.org
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	depends = python
	depends = python-typer
	depends = python-rich
	depends = python-httpx
	depends = python-pydantic
	depends = python-yaml
	depends = python-cbor2
	depends = python-cryptography
	depends = python-requests
	depends = python-fastapi
	depends = python-starlette
	depends = python-prometheus-client
	depends = uvicorn
	optdepends = python-sqlalchemy: bridge/EVM-relayer database features
	optdepends = python-alembic: bridge database migrations
	optdepends = python-psycopg: bridge PostgreSQL support
	optdepends = python-web3: EVM bridge client
	optdepends = python-pytorch: AI/ENA training, GPU mining fallback scanner, media provider
	optdepends = python-transformers: AI serving and ENA jobs
	optdepends = python-safetensors: AI model loading
	optdepends = python-scipy: ENA training math
	optdepends = python-pillow: generative media provider
	source = https://files.pythonhosted.org/packages/source/a/animica/animica-9.0.8.tar.gz
	sha256sums = 429a4c270f33847cb1d0954dae2dea2e13b3830199a55eddb76e14d36e1fc712

pkgname = animica
